body {
color: white;
background: black;
}

header {
border-bottom: solid 2px rgb(83, 6, 149);
padding: 20px;
font-size: 32px;
color: rgb(33, 10, 209);

}

section {
background: rgb(7, 72, 212);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}



